<div class="jumbotron">
  <h1><%= @user.name %>'s Books</h1>
  <p><%= @user.books.count %> books</p>
</div>
<div class="list-group">
  <% @user.books.each do |book| %>
    <%= link_to book, class: "list-group-item" do %>
      <%= book.title %>
    <% end %>
  <% end %>
</div>
