$brand-primary:         red !default;

.book-links {
  margin-right: 50px;
}

.controller-books {
}

// .controller-books::after {
//   content: "";
//   background-image: image-url('book-hero.jpg');
//   opacity: 0.5;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }


